{% extends 'admin/model/list.html' %}
{% block list_row_actions %}
    {{ super() }}
  <form class="icon" method="POST" action="/admin/transaction/action/">
    <input id="action" name="action" value="approve" type="hidden">
    <input name="rowid" value="{{ get_pk_value(row) }}" type="hidden">
    <button onclick="return confirm('Are you sure you want to approve selected transactions?');" title="Approve">
      <span class="fa fa-check glyphicon glyphicon-check"></span>
    </button>
  </form>
  <form class="icon" method="POST" action="/admin/transaction/action/">
    <input id="action" name="action" value="reject" type="hidden">
    <input name="rowid" value="{{ get_pk_value(row) }}" type="hidden">
    <button onclick="return confirm('Are you sure you want to reject selected transactions?');" title="Reject">
      <span class="fa fa-times glyphicon glyphicon-times"></span>
    </button>
  </form>
{% endblock %}