{% extends 'admin/master.html' %}

{% block body %}
    {{ super() }}
    <div id="root"></div>
{% endblock %}
{% block tail %}
    {{ super() }}
    <script src="https://unpkg.com/react@17/umd/react.{{ environment}}.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.{{ environment }}.js" crossorigin></script>
    <script src="{{ url_for('static', filename='scripts/admin-main.bundle.js')}}"></script>
    <script>
        const students = JSON.parse('{{ students | tojson | safe }}');
        console.log(VirtualTreasureChest.TeacherApp);
        ReactDOM.render(
            React.createElement(VirtualTreasureChest.App, { students }),
            document.getElementById('root')
        );
    </script>
{% endblock %}
